.admin_wrap{
    display: flex;
    .admin_navleft{
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
        background-color: #001529;
    }
    .admin_main{
        flex: 1;
        height: calc(100vh);
        background-color: #eee;
    }
    .admin_content{
        position: relative;
        padding: 20px;
    }
}