body{
    overflow: hidden;
}
.admin_wrap{
    display: flex;
    background-color: #eee;
    .admin_navleft{
        width: 15%;
        min-width: 180px;
        min-height: calc(100vh);
        background-color: #001529;
    }
    .admin_main{
        flex: 1;
        height: calc(100vh);
        overflow: hidden;
        .admin_scroll_wrap{
            height: calc(100vh - 20px - 100px);
            margin-top: 100px;
            overflow-y: scroll;  
            .admin_content{
                position: relative;
                padding: 20px;   
                    .admin_content_wrap{
                        background-color: #fff;
                        min-height: calc(100vh - 244px);
                        box-shadow: 0 0 2px #ddd;
                        border-radius: 5px;
                        padding: 10px;
                    }
            }
        }
    }
}